@font-face {
  font-family: "constantia";
  src: url("./font/CONSTAN.TTF");
}
@font-face {
  font-family: "constantia_bold";
  src: url("./font/CONSTAN_BOLD.TTF");
}
.bg{
  background-image: url("../imgs/background.jpg");
  /* Full height */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: visible;
}
.container .row{
    margin-bottom: 10px;
    margin-top: 5px;
    font-family: constantia, serif;  
}
.lead {
	text-align: center;
}
button.btn-primary{
	z-index: 2;
	background-color: #62AECC;
	border: none
}
button.btn-primary:hover{
	background-color: #B7B6A1;
}
.img-container {
	max-height: 250px;
	overflow: hidden;
}
.card {
	background-color: rgba(255,255,255,0.6);
}
.card img {
   object-fit: cover;
   width: 100%;
   height: 100%;
   bottom: 10%;
}
.card .card-number {
	width: 40px;
	height: 40px;
	margin: 10px 10px 0px 0px;
	background: #B7B6A1;
	opacity: .75; 
	position: absolute;
	right: 0;
	text-align: center;
	vertical-align: middle;
	font-size: 25px;
}
.card .card-body {
	z-index: 0;
	position: relative;
	overflow: hidden;
}
.card .card-title{
	font-family: constantia_bold, serif;
}
.container :nth-last-child(n+2) .card .card-body:before {
	z-index: 1;
	content: "";
	position: absolute;
	width: 100%; 
  	height: 100%;
  	max-height: 50px;
	background-image: url("../imgs/next.png");
	background-size: 10%;
    background-repeat: no-repeat;
    background-position: 100% 95%;
    margin: -20px 0px 0px -20px;
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	transform: rotate(0deg);
}

@media only screen and (max-width: 575px) {
	.container :nth-last-child(n+2) .card .card-body:before {
		right: -35%;
		background-position: 70% 0%;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
	}
}

.modal-content {
	background-color: #B7B6A1;
	text-align: justify;
	font-family:'Times New Roman', serif;
	font-size: 14pt;
}
.modal-title {
	font-weight: bold;
	font-size: 16pt;
}